.clients-list {
    display: flex;
}

.clients-list__item {
    width: 170px;
    height: 92px;
    margin-left: 30px;

    &:first-child {
            margin-left: 0;
        }
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #afb1b8;
    border-radius: 6px;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    transition: border 250ms $time-function;

    &:hover,
    &:focus {
            border: 1px solid $accent-color;
        }
}

.clients-list__icon {
    fill: currentColor;
    transition: fill 250ms $time-function;
    
    .clients-list__link:hover &,
    .clients-list__link:focus & {
            fill: $accent-color;
        }
}

