a:hover,
a,
a:focus {
    text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}
body {
    font-family: $font;
    color: $lighter-text;
}
.main {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:$desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--no-padding {
      padding-top: 0;
  }
}