  $accent-color: #2196f3;
  $lighter-text: #757575;
  $darker-text: #212121;
  $super-light-text: #ffffff;
  $super-dark-color: #000000;
  $sub-nav-back-color: #f5f4fa;
  $card-set-gap: 30px;
  $time-function: cubic-bezier(0.4, 0, 0.2, 1);

$font:"Roboto", sans-serif;
$logo-font: "Raleway",  sans-serif;
